body{
	background-image: url(input.jpg);
	background-size: cover; 
}
.attribute::after,.attribute2::after{
	color: rgb(255,0,0);
	white-space: pre;
	content: "  *";
}
.main::before{
	color:red;
	content:"* required";
	white-space: pre;
	margin:auto;
}
.main{
	width: 100%;
	margin-left: 50%;
}
#input2{
	width: 50%;
	float: right;
}
#input1{
	width: 50%;
	float: left;	
}
.attribute{
	float: center;
	padding-left: 40%;	
}
.attribute2{
	float: center;
	padding-left: 40%;
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 45% ;
}
input[type="file"] {
  padding: 12px 20px;
  cursor: pointer;
  margin-left: 40% ;
  border-style: none;
  border-radius: 2px; 
}
input[type=submit]:hover {
  background-color: #45a049;
}
#nav{
	background-color: #151719;
}
h2{
	padding-left: 10px;
	color: white;
}
label{
	color: white;
	padding-top: 10px;
}
.Connectivity{
	padding-left: 25%;
}
#connect{
	padding-right: 50px;
}