body{
	background-image: url(input.jpg);
	background-size: cover;
	scroll-behavior: none;

}
.attribute::after,.attribute2::after{
	color: rgb(255,0,0);
	white-space: pre;
	content: "  *";
}
.main::before{
	color:red;
	content:"* required";
	white-space: pre;
	margin:auto;
}
.main{
}
#input2{
	width: 50%;
	float: right;

}
#input1{
	width: 50%;
	float: left;	
}
.attribute{
	float: center;
	margin-left: 40%;
	color: rgb(0,0,0);
	font-size: 16px;
	background-color: rgb(189, 164, 245,0.4);
	background-blend-mode: all;	
}
.attribute2{
	float: center;
	margin-left: 40%;
	color: rgb(0,0,0);
	font-size: 16px;
	background-color: rgb(153, 238, 242,0.4);
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 50% ;
}
input[type="file"] {
  padding: 12px 20px;
  cursor: pointer;
  margin-left: 43% ;
  border-style: none;
  border-radius: 2px; 
}
input[type=submit]:hover {
  background-color: #45a049;
}
input[type="number"]{
  width:83%;
}
#nav{
	background-color: #151719;
}
h2{
	padding-left: 10px;
	color: white;
}
label{
	color: white;
	padding: 15px;
	width: 40%;
	border-radius: 30px; 
}
.Connectivity{
	padding-left: 30%;
	float: left;
	width: 100%;
}
#connect{
	padding-right: 50px;
	width:auto;
}